body {
  padding: 0;
  margin: 0;
  background-color: #212228;
  background-image: linear-gradient(#292a30 0.1em, transparent 0.1em),
    linear-gradient(90deg, #292a30 0.1em, transparent 0.1em);
  background-size: 4em 4em;
  height: 100vh;
  overflow: hidden;
}

#card {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
}

.taskbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  background: linear-gradient(
    180deg,
    #0997ff,
    #0053ee 8%,
    #0050ee 40%,
    #06f 88%,
    #06f 93%,
    #005bff 95%,
    #003dd7 96%,
    #003dd7
  );
  width: 100vw;
  height: 30px;
}
.taskbar__start {
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  font-style: italic;
  padding: 10px 20px;
  border: none;
  border-radius: 0px 10px 12px 0px;
  box-shadow: 0px 5px 10px #79ce71 inset;
  background: radial-gradient(circle, #5eac56 0%, #3c873c 100%) center/cover
    no-repeat;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskbar__start--logo {
  width: 100%;
  height: 200%;
}

.taskbar__right {
  color: white;
  font-weight: 700;
  height: 90%;
  margin: 5px;
  padding-left: 10px;
  padding-right: 20px;
  margin-right: 0;
  border-left: 2px solid white;
  background: #0997ff;
}
.taskbar__right p {
  margin-top: 5px;
}

.window__hello {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
}

.window__tab {
  position: absolute;
  left: 3rem;
  top: 3rem;
}
/* start menu starts here */
.start_menu {
  display: none;
  height: 60vh;
  background: linear-gradient(
      to bottom,
      #245edb 0%,
      #3f8cf3 9%,
      #245edb 18%,
      #245edb 92%,
      #333 100%
    )
    center/cover no-repeat;
  box-shadow: 0px 5px 10px #7fb979 inset;
  width: 40vh;
  position: absolute;
  bottom: 0;
  color: white;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.start_menu .header_title {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 10px;
}
.start_menu .header_title img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.start_menu .header_title h4 {
  margin-left: 20px;
}
.start_menu .nav {
  background: rgb(211, 229, 250);
  padding: 15px;
  width: 100%;
  color: rgb(55, 55, 56);
}

.start_menu .nav .nav_container p {
  font-size: 20px;
}
.divider {
  margin: 5px 0px;
  height: 1px;
  background: linear-gradient(
      to right,
      white 0%,
      rgb(211, 211, 200) 50%,
      white 100%
    )
    center/cover no-repeat;
}
