<div class="start_menu">
  <div class="header_title">
    <img src="/src/assets/me.jpg" alt="" srcset="" />
    <h4>Eliezer Nsengi</h4>
  </div>
  <div class="nav">
  <div class="nav_container">
      <p>Introduction</p>
      <div class="divider"></div>
      <p>My Image</p>
      <div class="divider"></div>

      <p>Skills</p>
      <div class="divider"></div>
      
      <p>About Me</p>
      <div class="divider"></div>

      <p>Contact Me</p>
      <div class="divider"></div>

      <p>Curriculum Vitae</p>
  </div>

    </ul>
  </div>
</div>
